:host {
  display: block;
}

.grid-container {
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, auto) 1fr;
  height: 100%;
  display: grid;
  gap: 10px;
}

input[name='name']{
  width: 100px
}

input[name='password'] {
  width: 90px
}

input[name='email'] {
  width: 170px
}

.row-actions-cell {
  align-self: center;
}

