:host {
  display: block;
}

.two-elements-margin {
  margin-bottom: 24px;
}

li {
  margin: 6px 0;
}

.action-img {
  margin-right: 8px;
}

.add-item-wrapper {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.update-url-btn {
  margin-top: 20px;
}