<div class="grid-container">
  <div class="grid-corner">1</div>
  <div id="grid-header"></div>
  <div class="grid-menu">
    <ul class="main-menu">
      <li data-page="one-click-login">One click login</li>
      <li data-page="url-toggles"><a [routerLink]="''">Add/Remove feature toggle from url</a></li>
      <li data-page="zoom-tab-closer">Close zoom tab after x seconds</li>
      <li data-page="session-details">Display company and/or user details. Accessible via local storage</li>
      <li data-page="dark-mode">Dark mode</li>
    </ul>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
