.grid-container {
  grid-template-rows: 60px auto;
  grid-template-columns: 200px auto;
  height: 100%;
  display: grid;

  > * {
    border: 1px solid #000;
    padding: 16px;
  }
}

.grid-header {
  font-size: 28px;
}

.main-menu li {
  cursor: pointer;
  margin-bottom: 24px;
}
