<ng-container *ngIf="sessionInfo; else emptyState">
  <div class="grid-container">
    <div>Company name</div><div>{{ sessionInfo.company }}</div>
    <div>User name</div><div>{{ sessionInfo.name }}</div>
    <div>User id</div><div>{{sessionInfo.numericUserId}}</div>
    <div>Role</div><div>{{sessionInfo.role}}</div>
    <div>Is manager</div><div>{{sessionInfo.isManager ? 'True' : 'False'}}</div>
  </div>
</ng-container>

<ng-template #emptyState>
  <h4>Sorry, no info at this moment. Are you logged in?</h4>
</ng-template>