<ng-container *ngIf="sessionInfo; else emptyState">
  <h1>{{ sessionInfo.company }}</h1>
  <h2>{{ sessionInfo.name }}</h2>
  <ul>
    <li *ngIf="sessionInfo.email">{{sessionInfo.email}}</li>
    <li *ngIf="sessionInfo.numericUserId">{{sessionInfo.numericUserId}}</li>
    <li *ngIf="sessionInfo.role">{{sessionInfo.role}}</li>
    <li>{{sessionInfo.isManager ? 'is a manager' : 'is not a manager'}}</li>
  </ul>
</ng-container>

<ng-template #emptyState>
  <h4>Sorry, no info at this moment. Are you logged in?</h4>
</ng-template>