/* You can add global styles to this file, and also import other style files */
html, body {
  height: 500px;
  width: 700px;
  margin: 0;
  font-size: 14px;
  color: #dadde2;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #7da9cd;
}

h1 { font-size: 22px; margin-bottom: 16px;}
h2 { font-size: 18px; margin-bottom: 16px;}
h3 { font-size: 16px; margin-bottom: 16px;}
h4 { font-size: 16px; font-weight: normal;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn {
  border: none;
  background: linear-gradient(0deg, #2074a2, #248dc6 50%);
  color: #ecf4fa;
  padding: 7px 14px;
  font-size: 12px;
  border-radius: 6px;
}

input[type='text'], input[type='number'] {
  background-color: #425890;
  border: 1px solid #5471ba;
  border-radius: 3px;
  color: inherit;
  padding: 4px 6px;
}

input[type='text']:focus, input[type='number'] {
  outline: 1px solid #4eb6ee;
  border-radius: 3px;
}